*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family:lobster ;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
    
.logo{
    width: 100px;
    height: 90px;
    margin-left: 40px;
    margin-top: 10px;
}
.brand_name{
    margin-left: 90px;
    margin-top:-50px;
    font-size: 20px;
    font-family: lobster;
}
.nav_brand{
    display: inline-block;

}
nav.navbar ul{
    float: right;
}
.navbar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;

}
.navbar{
    height: 100px;
}
.navbar ul li a:hover{
    color: #2173a1;
    letter-spacing: 4px;
    transition-duration: .5s;
}
.img{
    width: 100%;
    height: 500px;
}
.backgroundtext{
    position: absolute;
    left: 100px;
    right: 600px;
    top: 200px;
    
}
.perfect{
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 10px;
    text-shadow:2px 2px 20px #1c1d1f ;
}
.shop{
    background-color: white;
    padding: 10px 20px;
    color: #2137e1;
    border :1px solid #2137e1;
    border-radius: 5px;
    margin-top: 20px;

}
.shop:hover{
    color: white;
    background-color: #2137e1;

}
.header{
    text-align: center;
    margin-top: 40px;
}
.divided{
    width: 100px;
    margin: auto;
    border: 1px solid #2137e1;
}
.product{
    display: grid;
    grid-template-columns:auto auto auto auto ;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
    text-align: center;
    grid-gap: 50px;
}
.product_img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 20px rgb(0,0,0,.15);
}
.red{
    color:red;
}
.about{
    background-image: url(../images/bg.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    color: white;
    margin-top: 70px;
}
.about div{
    padding: 60px;
}
.divid{
    width: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.title{
    margin-left: 30px;
}
.package{
    margin:30px 30px 50px 30px;
    float: left;
    width: 400px;
}
/* ul{
    padding: 30px;
}
li{
    font-size: 20px;
    font-weight: 300PX;
} */
.head{
    margin-top: 20px;
}
.clear{
    clear: both;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #e2e7e7;
    padding: 30px 0px 30px 30px;
}
.support_icon p{
    display: inline-block;
    margin-left: 20px;
}
footer{
    background-color: #212529;
    height: 230px;
}
.n{
    text-decoration: none;
    color: grey;
    display: inline-block;
    font-weight: bold;
    margin: 50px 20px 0px;
}
.designed{
    color: grey;
    font-weight: bold;
    margin-top: 20px;
}
.icon{
    color: gray;
    display: inline-block;
    margin: 20px 10px 0px;

}
/* start contact page */
.z{
    text-decoration:none;
    display: grid;
    grid-template-columns: auto auto; 
    margin-top: 20px;  
    margin-bottom: 30px;
    background-image: url(../images/bgg.jpg);
    box-shadow:0 10px 10px rgba(22, 20, 20, 0.15) ;
    
}
.z div{
    display: inline-block;
    color:rgb(48, 6, 29);
    font-size: 20px;
}
.contact{
    width: 300px;
    height: 30px;
    margin-top: -20px;
    border-radius: 20px;
    border-style:hidden;
    box-shadow: 0 10px 10px #5a5b5c ;
}
.contact1{
    width: 300px;
    height: 150px;
    margin-top: -20px;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 10px 10px #5a5b5c ;
}

.context{
    text-shadow:2px 2px 2px #d6dce2 ;
    padding-left: 200px;
    line-height: 60px;
}
.context1{
    text-shadow:2px 2px 2px #5a5b5c ;
    line-height: 60px;
}
.context h3:hover{
    color: rgb(236, 122, 211);
    letter-spacing: 4px;
}
.icon1{
    color: rgb(48, 6, 29);
}
.icon1:hover{
   color:rgb(236, 122, 211);
}
input[type="name"]:focus,input[type="email"]:focus,input[type="number"]:focus,button[type='submit']:focus{
        border: 2px solid rgb(243, 81, 208);
     }
 /* End contact page */

 /* Start Shop */
 .shopus{
     margin-left: 500px;
     letter-spacing: 15px;
     color: rgb(201, 119, 133);
     text-shadow: 0 10px 10px #383131;
 }
 .newarrival{
     height: 400px;
     width: 100%;
     box-shadow: 30px 10px 30px rgba(22, 20, 20, 0.15);
 }
 @font-face {
     font-family: sacra;
     src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
 }
 .newarrival:hover{
     font-size: xx-large;
 }
.newtext{
    position: absolute;
    font-family:sacra;
    font-weight: bolder;
    color: rgb(201, 119, 133);
    text-shadow: 20px 10px 10px #383131;
    margin-top: -250px;
    margin-left: 100px;
    
}
.arrival_grid{
    display: grid;
    grid-template-columns:auto auto auto ;
    margin-left: 300px;
    margin-top: -500px;
    margin-right: 50px;
    text-align: center;
    grid-gap: 50px;
}
.buy{
    width: 80px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    border: none; 
    box-shadow: 0 10px 10px rgba(15, 15, 15, 0.15);
}
.buy:hover{
    color: rgb(241, 88, 229);
    transform: scale(1.5);
}
.cart{
    color: pink;
}
.cart:hover{
    color:rgb(241, 88, 229);
}
.arr_img{
    border-radius: 5px;
    width: 70%;
    box-shadow: 10px 10px 30px rgba(22, 22, 22, 0.15);
}

.special{
    line-height: 100px;
    margin-top: 250px;
    margin-left: 30px;
    
}
.spec_buttom{
    width: 300px;
    height: 50px;
    border-style: hidden;
    border-radius: 30px;
    background-color: rgb(240, 203, 209);
    box-shadow: 0 10px 20px rgba(168, 78, 78, 0.15);
}
.spec_buttom:hover{
    color: rgb(241, 88, 229);
    letter-spacing: 3px;  
}
.more{
    width: 80px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    border: none; 
    box-shadow: 0 10px 10px rgba(15, 15, 15, 0.15);
    margin-top: 90px;
    margin-left: 700px;
    /* padding-left: 750px; */
}
.more:hover{
    color: rgb(241, 88, 229);
    letter-spacing: 3px;
}
/* End Shop */
/* Start About page */
.openhour{
    position:absolute;
    margin-top: -200px;
    margin-left: 300px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 4px;
    /* padding-left: 1200px; */
}
.ab{
    /* position: absolute; */
    writing-mode:vertical-rl;
    letter-spacing: 5px;
    margin-top: -300px;
    padding-left: 1200px;
}
.abt{
    text-align: center;
    text-shadow:0 2px 4px #000000 ;
    margin-top: 150px;
}
/* .abo div{
    display: absolute;
    display: inline-block;
    width: 400px;
    height: 400px;
    padding:0px;
    margin-left: 20px;
    background-color:rgb(236, 69, 69) ;
} */
.abo{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: white;
    margin-top: 70px;
    padding: 1px;
}
.we{
    box-shadow: 2px 2px 4px #000000;
}
@font-face {
    font-family: rubi;
    src: url(../fonts/RubikBeastly-Regular.ttf);
}
.wetx{
    text-align: center;
    line-height: 2px;
    font-family:lobster ;
    font-weight: lighter;
    margin-top: 50px;
    padding-bottom: 10px;
    color:black;
    text-shadow: 0 2px 3px #000000 ;
}
    
